@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Dosis');


/*
	General Styles
*/
body{
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Dosis', sans-serif;
	color: #111;
	position: relative;
	overflow-x: hidden;
}
::selection{
	background: #B71C1C;
	color: #fff;
}
::-webkit-selection{
	background: #B71C1C;
	color: #fff;
}

.vertical-align{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

strong{
	font-weight: 900;
}
p{
	line-height: 24px;
	font-weight: 300;
}

/*Anchors*/
a,
a:focus{
	color: #E53935;
}

a:hover{
	color: #B71C1C;
	text-decoration: none;
}
section{
	padding: 50px 0;
}

hr{
	width: 85px;
}
hr.icon:after{
	content: "\f123";
	font-family: 'FontAwesome';
	color: #E53935;
	font-size: 1.5em;
	background-color: #fff;
	top: -0.8em;
	position: relative;
	padding: .30em;
}


/*Section Heading*/
.section-heading{
	color: #B71C1C;
}
.section-heading h3{
	font-weight: 300;
	letter-spacing: 3px;
}
.section-heading hr{
	border-color: #B71C1C;
	margin-top: 30px;
	margin-bottom: 40px;
}

/*Header seccion*/
.avatar{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 30px;
	border:4px solid #fff;
	border-radius: 50%;
	margin-bottom: 30px;
}
#home{
	background: url(../img/background.png) fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 600px;
}
.logo{
	font-size: 72px;
	font-weight: 100;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	display: inline-block;
	padding: 0 20px 15px 20px;
}
#home h3{
	font-weight: 300;
	margin: 0;
}

#home .learn-more{
	color: #fff;
	font-size: 30px;
	position: absolute;
	margin-top: 20px;
}

.learn-more .fa{
	position: absolute;
}

.learn-more .second-arrow{
	top:8px;
}
.learn-more .third-arrow{
	top:16px;
}

/*About section*/
#about{
	background: url(../img/prueba2.jpg) fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 440px;
	/*opacity: 0.6;*/
}
#about h3{
	font-weight: bolder;
	font-size: 30px;
}

#about p{
	text-align: center;
	font-weight: bolder;
	font-size: 25px;
	color: #fff;
}

/*i know section*/
.skill-item{
	margin-bottom: 40px;

}
.skill-item i{
	font-size: 48px;
	color: #c1c1c1;
	float: left;
	border-right: 2px solid #B71C1C;
	padding-right: 20px;
}
.skill-title{
	margin-top: -24px;
	margin-left: 20px;
	display: inline-block;
}

.skill-title h3{
	color: #111;
	font-weight: 900;
}
.skill-title h4{
	font-weight: 300;
	color: #B71C1C;
	margin-top: -10px;
}

/*Core skills section*/
#core{
	background: url(../img/prueba2.jpg) fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	/*height: 440px;*/
	/*opacity: 0.6;*/
}

#core h1{
	font-size: 48px;

}
#core h3{
	font-weight: 300;
	margin-top: 0;
}

#core p{
	margin: 40px 0;
}
.button{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 3px solid #fff;
	border-radius: 2px;
	padding-bottom: 10px;
}
.button:hover{
	border-color: #B71C1C;
}
.progress{
	height: 30px;
	margin-bottom: 30px;
	opacity: .78;
	background-color: #000;
	box-shadow: none;

}
.progress-bar{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b71c1c+0,ff5252+100 */
background: #b71c1c; /* Old browsers */
background: -moz-linear-gradient(left,  #b71c1c 0%, #ff5252 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #b71c1c 0%,#ff5252 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #b71c1c 0%,#ff5252 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71c1c', endColorstr='#ff5252',GradientType=1 ); /* IE6-9 */

}

.titulo h5{
	font-weight: 9000;
	text-transform: uppercase;
}
/*portafolio section*/
#portafolio .col-md-4{
	padding: 0;
}

.portafolio-thumb,
.portafolio-overlay{
	height: 270px;
	max-width: 390px;
}
#portafolio .portafolio-thumb img{
	width: 100%;
	height: 100%;
}
#portafolio .portafolio-thumb{
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
}
#portafolio .portafolio-thumb .portafolio-overlay{
	opacity: 0;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
	/*background: -webkit-linear-gradient(left,  #b71c1c 0%,#ff5252 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to right,  #b71c1c 0%,#ff5252 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71c1c', endColorstr='#ff5252',GradientType=1 ); /* IE6-9 */
	background: #EF5350;
	padding: 20px 10px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

}
#portafolio .portafolio-thumb:hover .portafolio-overlay{
	opacity: .7;
	cursor: pointer;
}

#portafolio .portafolio-thumb .portafolio-overlay h2{
	color: #fff;
	font-weight: 300;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding: 5px 10px 10px 10px;
}

#portafolio .portafolio-thumb .portafolio-overlay a{
	color: #fff;
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/**Quotes section*/
#quotes{
	background: url(../img/background.png) fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 440px;
	position: relative;
}

/**Contact form*/
.form-control{
	height: 45px;
	padding: 15px;
	font-size: 16px;
	color: #8c8c8c;
	background-color:  #f5f5f5;
	border: 1px solid #d1d1d1;
	box-shadow: none;
	font-weight: 300;
}
.form-control:focus{
	box-shadow: none;
	color: #B71C1C;
	border-color: #B71C1C;
	background-color: #fff;
}
.form-control::-webkit-placeholder{
	color: #8c8c8c;
}
.form-control:focus::-webkit-placeholder{
	color: #B71C1C;
}
/**Footer section*/
#footer{
	background: url(../img/background.png) fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	padding: 50px 0;
}
#footer .logo{
	font-size: 46px;
	padding: 0 20px 10px 20px;
}

#footer ul{
	padding-left: 0;
	margin-top: 10px;
	display: block;
}

#footer ul li{
	display: inline-block;
}

#footer ul a{
	font-size: 30px;
	color: #fff;
	padding: 0 10px;
}
.copyrights{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
	padding: 5px 0;
}